
.background-image-example {
    background-image: url('https://img.freepik.com/premium-photo/blurred-restaurant-background_893571-15162.jpg?w=2000');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
  }